<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>{title}</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- website -->
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/jl/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/jl/favicon-32x32.png">
  <!-- iphone -->
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="static/favicon/jl/apple-touch-icon.png">
  <!-- android -->
  <link rel="icon" type="image/png" sizes="192x192" href="static/favicon/jl/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="static/favicon/jl/android-chrome-512x512.png">
  <!-- css -->
  <!-- web-app -->
  <script src="static/favicon/jl/manifest.js"></script>
  <!-- polyfill, prototype, include -->
</head>
<body>
  <pre>{todo}</pre>
  <script src="app/initial.js"></script>
</body>
</html>
